/* font-family: 'Cinzel Decorative', cursive;
font-family: 'Lato', sans-serif; */

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.header__main {
  background: url(./../images/pizza_header.jpg) no-repeat center center;
  background-size: cover;
  height: 300px;
}

h1.header__main--title{
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .6);
  border: 1px solid white;
}

.inputfield__search {
  background-color: aquamarine;
}

.inputfield__search:hover {
  background-color: chartreuse;
}

h1.output__heading {
  color: #262626;
}